.bar {
  fill: steelblue;
}
 
.bar:hover {
  fill: orange;
}

.global-axis {
    height: 64px; width: 100%;
    position: fixed; left: 0; right: 0; top: auto;
}

svg {
	y: 10;
}

img {
  width: 20%;
  height: 20%;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

body {
  /*background-color: powderblue;*/
}
h1 {
  /*color: blue;*/
  text-align: center;
}
p {
  color: red;
}

body {
	/*background: linear-gradient(to right, red , yellow);*/
	/*background-color: coral;*/
	background-color: #e0dcdb;
}